
<style>
    a {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
</style>

<a href="@Url.Action("Giohang","Giohang")" >
    <i class="fa fa-shopping-cart"></i>
    Giỏ hàng
</a>
