
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/Xacnhandonhang.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
    h2 {
        padding-top:100px;
        text-align:center;
        font-size:50px;
        font-weight:700;
        color:red;
    }
  
   
</style>

    <h2>CHÚC MỪNG BẠN ĐÃ ĐẶT HÀNG THÀNH CÔNG !!!</h2>



