
@{
    ViewBag.Title = "CTTT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .CTTT_bot{
        display:flex;
        margin: 30px  30px;
    }
    .CTTT_cap p {
        padding:100px 20px;
        font-size:20px;

    }

</style>
<div class="container">

    <div class="content__item" style="display:flex ; padding: 40px 40px">
        <h1>@Model.Tieude</h1>
        <div>
            <img width="300px" src="~/images/@Model.picture" />
        </div>
        <div class="post" style="padding-left:50px">
            <h4>@Model.NoiDung</h4>
           
        </div>

    </div>

</div>



<div class="container">
    <div>
        <h1 style="text-align:center">NGHỆ THUẬT XĂM HÌNH TRÊN ĐỒNG HỒ HUBLOT</h1>
        <div class="CTTT_bot">
            <div class="CTTT_pic">
                <img src="~/images/img-2.png"></img>

            </div>
            <div class="CTTT_cap">
                <p>
                    Với Maxime, Hublot và Sang Bleu như sinh ra để hợp tác cùng nhau, bởi cả hai đều có những giá trị chung như khát khao sáng tạo và trở nên khác biệt, cả về mặt ý tưởng hay kĩ thuật, đồng thời giữ chất lượng tuyệt hảo trong tác phẩm của mình.

                    Sự hợp tác giữa Sang Bleu và Hublot thể hiện rõ nét chữ “Fusion” trong “Art of Fusion”, là xây dựng cánh cầu kết nối các chất liệu, kỹ thuật tân tiến và thế giới đa văn hóa. Lấy cảm hứng từ bức họa huyền thoại “Vitruvian Man” của Leonardo Da Vinci, những đường thẳng đối xứng xen kẽ khối đa giác của Maxime Buchi khiến giới sưu tập trầm trồ về Hublot Sang Bleu.
                </p>

            </div>
        </div>
    </div>
    <hr />
    <div class="container">
        <p style="text-align:center">
            Đây là sự hòa hợp giữa hai thế giới: thế giới của Hublot, nơi kết hợp nhiều chất liệu tân tiến để tạo ra những chiếc đồng hồ ‘phi thường’ và thế giới của tôi, nơi tồn tại nhiều hình khối và màu sắc ảnh hưởng từ nghệ thuật đại chúng thể hiện một cách ngẫu hứng và tự nhiên.

            Richard Orlinski chia sẻ về sự hợp tác của ông và Hublot.
        </p>
    </div>
   

    <hr />
    <div>
        <h1 style="text-align:center">SỰ TỔNG HÒA CỦA ĐIÊU KHẮC VÀ CỔ MÁY CƠ KHÍ</h1>
        <div class="CTTT_bot">
            <div class="CTTT_pic">
                <img style="height:500px" src="~/images/img-6.jpg"></img>

            </div>
            <div class="CTTT_cap">
                <p>
                    Ít nhất đã có 6 mẫu đồng hồ Classic Fusion Orkinski được tạo ra dựa trên mối liên kết mật thiết giữa nghệ thuật và công nghệ giữa Richard Orlinski và Hublot, nối tiếp thành công từ mẫu Aerofusion Chronograph tới Red Ceramic, đặc biệt là mẫu Tourbillon.

                    “Chúng tôi áp dụng cách tiếp cận tiên phong và khám phá bất chấp rủi ro và thách thức. Sự thành công của Aerofusion Chronograph và mới đây là mẫu Tourbillon Orlinski mở ra nhiều cánh cổng mới. Những chiếc đồng hồ Classic Fusion thanh lịch giờ đây được biến tấu trở thành tác phẩm nghệ thuật có thể hàng ngày đồng hành cùng người thưởng thức”, nghệ sĩ điêu khắc chia sẻ.
                </p>
            </div>
        </div>
    </div>
    <div>
        <h1 style="text-align:center">SÁNG TẠO TÔN VINH PHỤ NỮ THẾ KỶ 21</h1>
        <div class="CTTT_bot">
            <div class="CTTT_pic">
                <img style="height:500px" src="~/images/img-7.png"></img>

            </div>
            <div class="CTTT_cap">
                <p>
                    Gần đây nhất, Hublot tiếp tục cho thấy sức sáng tạo không giới hạn khi hợp tác cùng họa sĩ danh tiếng Marc Ferrero, tạo nên những chiếc Big Bang độc nhất, truyền tải những thông điệp cả hai cùng theo đuổi. Sự kết hợp đa trường phái và văn hóa của Marc Ferrero là nét bổ sung hoàn chỉnh cho triết lý “Art of Fusion” của Hublot.

                    Những bộ óc nghệ thuật cùng nhau góp sức tôn vinh một “khía cạnh” vô cùng quan trọng trong xã hội, một nửa thế giới: người phụ nữ đương đại.
                </p>
            </div>
        </div>
    </div>
</div>



