
@{
    ViewBag.Title = "Dedails1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi tiết sản Phẩm</h2>
<h3>Tên đồng hồ:@Model.TenSP</h3>
<div>
    <img src="~/images/@Model.Anh" />
</div>
<h3>:@Model.MoTa</h3>


