@model IEnumerable<web.Models.SanPham>
@{
    ViewBag.Title = "DOXA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/wow/css/libs/animate.css">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<div class="fondhn" style="margin: 50px auto">
    <h2 class="wow animate__animated animate__bounce animate__rubberBand" style="font-size: 50px; color: hsl(334 67% 37%); font-weight:800">Đồng Hồ DOXA</h2>
</div>



<div class="container">

    <ul class="ul__dh">
        @foreach (var DHDoxa in Model)
        {
            <li style="list-style-type:none">
                <a href="@Url.Action("CTSPDOXA", "Home", new { id =  DHDoxa.MaSP })">
                    <img src="~/images/@DHDoxa.Anh" />
                </a>
                <span class="ul__dh__fon">@DHDoxa.TenSP</span>
            </li>

        }
    </ul>

</div>