@model IEnumerable<web.Models.SanPham>
@{
    ViewBag.Title = "LayDHN2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="fondhn">
    <h2>Đồng Hồ Nam</h2>
</div>

<div class="container">

    <ul class="ul__dh">
        @foreach (var DHNam in Model)
        {
            <li style="list-style-type:none">
                <a href="@Url.Action("Dedails", "DHNam", new { id = DHNam.LoaiSanPham })">
                    <img src="~/images/@DHNam.Anh" />
                </a>
                <span class="ul__dh__fon">@DHNam.TenSP</span>
            </li>

        }
    </ul>
    <div class="Pagination__dh">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="https://localhost:44380/Home/DHNam">Previous</a></li>
            <li class="page-item"><a class="page-link" href="https://localhost:44380/Home/DHNam"></a>1</li>
            <li class="page-item"><a class="page-link" href="https://localhost:44380/Home/LayDHN2">2</a></li>

            <li class="page-item"><a class="page-link" href="https://localhost:44380/Home/LayDHN2">Next</a></li>
        </ul>
    </div>
</div>

