<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
    
</head>
<link rel="stylesheet" href="~/css/StyleSheet1.css" />
<body>
    @RenderBody()
    <div>

        <div class="pyro"><div class="before"></div><div class="after"></div></div>
        <canvas id="canvas"></canvas>

    </div>
    <script src="~/js/JavaScript.js"></script>
</body>
</html>
